body {
    background: #f7f7f7;
    color: #3A3637;
    text-align: center
    
}

.trophy_slide {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }

  25% {
    margin-left: 500px;
  }

  50% {
    margin-left: 0%
  }

  75% {
      margin-right: 500px;
  }

  100% {
    margin-right: 0%;
  }
}


.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }