body {
    background: #f7f7f7;
    color: #3A3637;
    text-align: center
    
}

/* img {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }

  25% {
    margin-left: 500px;
  }

  50% {
    margin-left: 0%
  }

  75% {
      margin-right: 500px;
  }

  100% {
    margin-right: 0%;
  }
} */
