<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Leaflet/Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/teams.js"></script>

    <!--Our css-->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- TODO: Insert an NBA favicon here... -->
    <link rel="icon" type="image/png" href="#">
</head>

<body>
<h1>NBA Data</h1><br><br><hr><hr>

<div class="row">
    <div class="col-6">
        <h2>Team 1</h2>
        <div id="Team1Selector"></div>
        <div id="Team1Logo"></div>
        <div id="Team1Stats" class="stats"></div>
    </div>

    <div class="col-6">
        <h2>Team 2</h2>
        <div id="Team2Selector"></div>
        <div id="Team2Logo"></div>
        <div id="Team2Stats" class="stats"></div>
    </div>
</div>
<script src="../static/js/nav.js"></script>
</body>
</html>